# DS-SF-34 | 02 | The `pandas` Library | Codealong | Starter Code

(http://pandas.pydata.org/pandas-docs/stable)

## Part A - Introduction to `pandas`

In [8]:
import os

c

import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import re

> ## `pd.read_csv()`: load datasets from files (or even over the Internet)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [21]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow-starter.csv'))

> ## `DataFrame`

Let's check `df`'s type:

In [20]:
# TODO
type(df)

pandas.core.frame.DataFrame

`df` is a `DataFrame`.  (http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

A `DataFrame` stores tabular data.  Let's have a look at its content:

In [19]:
df

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,...,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,...,1299.0,sqft,NaN,NaN,1993.0
5,15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,...,1033.0,sqft,NaN,NaN,1993.0
6,15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,...,1048.0,sqft,NaN,NaN,1975.0
7,15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,...,2115.0,sqft,1271.0,sqft,1913.0
8,15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,...,4102.0,sqft,3049.0,sqft,1948.0
9,15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,...,1182.0,sqft,NaN,NaN,1986.0
10,15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,...,1000.0,sqft,NaN,NaN,1983.0
11,15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,...,1000.0,sqft,NaN,NaN,1870.0
12,15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,...,552.0,sqft,NaN,NaN,1937.0
13,15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,...,2658.0,sqft,1600.0,sqft,1906.0
14,15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,...,1165.0,sqft,NaN,NaN,1980.0
15,15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,...,1465.0,sqft,NaN,NaN,1963.0
16,15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,...,2017.0,sqft,NaN,NaN,1963.0
17,15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,...,956.0,sqft,NaN,NaN,1907.0
18,15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,...,1003.0,sqft,NaN,NaN,1930.0
19,15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,...,1467.0,sqft,3023.0,sqft,1922.0
20,15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,...,986.0,sqft,NaN,NaN,1964.0
21,15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,...,825.0,sqft,NaN,NaN,1973.0
22,15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,...,2344.0,sqft,1376.0,sqft,1913.0
23,15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,...,989.0,sqft,NaN,NaN,1910.0
24,15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,...,4362.0,sqft,1459.0,sqft,1908.0
25,15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,...,710.0,sqft,NaN,NaN,1970.0
26,15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,...,744.0,sqft,NaN,NaN,1970.0
27,15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,...,541.0,sqft,NaN,NaN,1950.0
28,15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,...,1250.0,sqft,NaN,NaN,1929.0
29,15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,...,1115.0,sqft,NaN,NaN,1929.0
30,15068039,"1170 Sacramento St APT 9B, San Francisco, CA",37792930,-122412195,12/3/15,...,1961.0,sqft,NaN,NaN,1963.0
31,15068514,"1177 California St APT 702, San Francisco, CA",37791089,-122413658,12/18/15,...,511.0,sqft,NaN,NaN,1978.0
32,15068551,"1177 California St APT 501, San Francisco, CA",37791089,-122413658,12/15/15,...,884.0,sqft,NaN,NaN,1978.0
33,15068580,"1177 California St APT 423, San Francisco, CA",37791089,-122413658,12/29/15,...,706.0,sqft,NaN,NaN,1978.0
34,15068592,"1177 California St APT 304, San Francisco, CA",37791089,-122413658,12/1/15,...,645.0,sqft,NaN,NaN,1977.0
35,15068767,"767-771 Pine St, San Francisco, CA",37790971,-122408473,12/31/15,...,4605.0,sqft,1376.0,sqft,1909.0
36,15068857,"1001 Pine St APT 608, San Francisco, CA",37790348,-122412568,12/7/15,...,450.0,sqft,NaN,NaN,1964.0
37,15068874,"1001 Pine St APT 801, San Francisco, CA",37790348,-122412568,12/24/15,...,650.0,sqft,NaN,NaN,1963.0
38,15069276,"795 Sutter St # 303, San Francisco, CA",37788404,-122413260,11/15/15,...,1753.0,sqft,NaN,NaN,1913.0
39,15069477,"631 Ofarrell St APT 816, San Francisco, CA",37785240,-122415125,12/18/15,...,480.0,sqft,NaN,NaN,1930.0
40,15069628,"47-49 Casa Way, San Francisco, CA",37805371,-122439029,11/25/15,...,3905.0,sqft,2748.0,sqft,1939.0
41,15069883,"59 Rico Way, San Francisco, CA",37804909,-122439650,12/21/15,...,1675.0,sqft,2613.0,sqft,1925.0
42,15070227,"134 Alhambra St, San Francisco, CA",37802318,-122438801,1/18/16,...,2599.0,sqft,3005.0,sqft,1925.0
43,15070235,"180 Alhambra St, San Francisco, CA",37801939,-122439299,12/7/15,...,2864.0,sqft,2286.0,sqft,1925.0
44,15070255,"146 Avila St, San Francisco, CA",37801998,-122440411,12/23/15,...,2100.0,sqft,2495.0,sqft,1924.0
45,15070544,"1051-1053 Francisco St, San Francisco, CA",37803239,-122422458,12/1/15,...,4650.0,sqft,4726.0,sqft,1953.0
46,15070728,"3315 Pierce St, San Francisco, CA",37800650,-122439786,1/6/16,...,2255.0,sqft,2500.0,sqft,1925.0
47,15070807,"1763-1765 Chestnut St, San Francisco, CA",37801061,-122432273,12/1/15,...,3260.0,sqft,3000.0,sqft,1920.0
48,15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",37800573,-122424849,11/30/15,...,885.0,sqft,NaN,NaN,1929.0
49,15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",37800573,-122424849,12/2/15,...,793.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...
950,2100170419,"3947 17th Street, San Francisco, CA",37762490,-122433500,2/4/16,...,1250.0,sqft,NaN,NaN,1910.0
951,2100628935,"2261-65 Fulton #2263, San Francisco, CA",37772873,-122453442,1/12/16,...,1420.0,sqft,NaN,NaN,1911.0
952,2100643449,"2149 Lyon St APT 4, San Francisco, CA",37790535,-122446099,12/27/15,...,NaN,NaN,NaN,NaN,1907.0
953,2100646549,"1529 Golden Gate Ave, San Francisco, CA",37778720,-122436600,1/7/16,...,2120.0,sqft,NaN,NaN,1900.0
954,2100651320,"3330 Clay St # C, San Francisco, CA",37789264,-122447761,1/5/16,...,1283.0,sqft,NaN,NaN,1910.0
955,2100682649,"520 Natoma St APT 9, San Francisco, CA",37779880,-122408300,12/1/15,...,NaN,NaN,NaN,NaN,1911.0
956,2100695464,"532 Lyon St, San Francisco, CA",37775802,-122442710,11/24/15,...,NaN,NaN,3044.0,sqft,1904.0
957,2100695466,"980 Baker St APT 3, San Francisco, CA",37780437,-122441474,12/22/15,...,1758.0,sqft,NaN,NaN,1961.0
958,2100784055,"55 1/2 Lucy St, San Francisco, CA",37729980,-122393157,12/31/15,...,1000.0,sqft,NaN,NaN,NaN
959,2100786271,"2149 Lyon St APT 1, San Francisco, CA",37790535,-122446099,12/1/15,...,NaN,NaN,NaN,NaN,1907.0
960,2100791455,"130A Langton Street, San Francisco, CA",37776110,-122408270,12/13/15,...,1000.0,sqft,NaN,NaN,1906.0
961,2100830039,"1731 Larkin St APT 3, San Francisco, CA",37793838,-122420013,2/9/16,...,NaN,NaN,NaN,NaN,NaN
962,2100831587,"164 Parker Ave # B, San Francisco, CA",37782512,-122454025,12/3/15,...,NaN,NaN,NaN,NaN,NaN
963,2100831588,"164 Parker Ave # A, San Francisco, CA",37782512,-122454025,11/19/15,...,NaN,NaN,NaN,NaN,NaN
964,2100831589,"181 Noe St, San Francisco, CA",37766201,-122433226,11/22/15,...,NaN,NaN,NaN,NaN,NaN
965,2100835351,"1676 Newcomb Ave, San Francisco, CA",37736278,-122391098,12/8/15,...,NaN,NaN,NaN,NaN,1900.0
966,2100850402,"1915 Diamond St, San Francisco, CA",37742141,-122435111,12/29/15,...,2400.0,sqft,4356.0,sqft,1910.0
967,2100861826,"1606 Jones St, San Francisco, CA",37796169,-122414825,12/11/15,...,4035.0,sqft,NaN,NaN,1907.0
968,2100901630,"1890 Jefferson Street #302, San Francisco, CA",37804840,-122442970,2/4/16,...,1018.0,sqft,NaN,NaN,1934.0
969,2100902229,"2299 Market St APT 502, San Francisco, CA",37764100,-122433000,12/3/15,...,700.0,sqft,NaN,NaN,2013.0
970,2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,...,1632.0,sqft,NaN,NaN,NaN
971,2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,...,400.0,sqft,NaN,NaN,NaN
972,2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,...,2301.0,sqft,NaN,NaN,1900.0
973,2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,...,NaN,NaN,NaN,NaN,1904.0
974,2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,...,1496.0,sqft,NaN,NaN,1908.0
975,2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,...,4005.0,sqft,NaN,NaN,1900.0
976,2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,...,625.0,sqft,NaN,NaN,1908.0
977,2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,...,1912.0,sqft,NaN,NaN,1941.0
978,2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,...,1776.0,sqft,3746.0,sqft,1905.0
979,2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,...,1108.0,sqft,NaN,NaN,1951.0
980,2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,...,3500.0,sqft,2495.0,sqft,1908.0
981,2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,...,NaN,NaN,NaN,NaN,1909.0
982,2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,...,1424.0,sqft,NaN,NaN,2008.0
983,2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,...,950.0,sqft,NaN,NaN,2015.0
984,2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,...,NaN,NaN,NaN,NaN,NaN
985,2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,...,NaN,NaN,2038.0,sqft,1900.0
986,2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,...,NaN,NaN,NaN,NaN,1905.0
987,2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,...,NaN,NaN,NaN,NaN,NaN
988,2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,...,2414.0,sqft,1306.0,sqft,1943.0
989,2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,...,1500.0,sqft,NaN,NaN,2013.0
990,2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,...,NaN,NaN,NaN,NaN,2004.0
991,2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,...,658.0,sqft,NaN,NaN,1909.0
992,2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,...,6600.0,sqft,NaN,NaN,1907.0
993,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,...,557.0,sqft,NaN,NaN,2010.0
994,2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,...,3655.0,sqft,NaN,NaN,1883.0
995,2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,...,264.0,sqft,NaN,NaN,2012.0
996,2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,...,691.0,sqft,NaN,NaN,2004.0
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,...,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,...,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,...,900.0,sqft,NaN,NaN,1966.0

> ## `.head()`: first 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.head.html)

In [28]:
type(df.head(2))

pandas.core.frame.DataFrame

In [27]:
1 = [10, 20, 30, 40]

SyntaxError: can't assign to literal (<ipython-input-27-ddb8c7996c39>, line 1)

In [4]:
1

1

> ## `.tail()`: last 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.tail.html)

In [16]:
# TODO
df[10:20]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
10,15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,...,1000.0,sqft,NaN,NaN,1983.0
11,15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,...,1000.0,sqft,NaN,NaN,1870.0
12,15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,...,552.0,sqft,NaN,NaN,1937.0
13,15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,...,2658.0,sqft,1600.0,sqft,1906.0
14,15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,...,1165.0,sqft,NaN,NaN,1980.0
15,15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,...,1465.0,sqft,NaN,NaN,1963.0
16,15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,...,2017.0,sqft,NaN,NaN,1963.0
17,15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,...,956.0,sqft,NaN,NaN,1907.0
18,15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,...,1003.0,sqft,NaN,NaN,1930.0
19,15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,...,1467.0,sqft,3023.0,sqft,1922.0

> ## `.shape`: shape (i.e., number of rows and columns)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shape.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.shape.html)

In [23]:
df.shape

(1000, 15)

The first value (at index 0) is the number of rows, the second (at index 1), the number of columns:

In [29]:
df.shape[0]

1000

In [ ]:
# TODO

You can also use the idiomatic Python `len` function to get the number of rows:

In [25]:
len(df)

1000

> ## `.dtypes`: column types

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html)
- (http://pandas.pydata.org/pandas-docs/stable/basics.html)

In [30]:
df.dtypes

ID                 int64
Address           object
Latitude           int64
Longitude          int64
DateOfSale        object
SalePrice        float64
SalePriceUnit     object
IsAStudio         object
Beds             float64
Baths            float64
Size             float64
SizeUnit          object
LotSize          float64
LotSizeUnit       object
BuiltInYear      float64
dtype: object

> ## `.isnull()` and `.notnull()`: NaN (Not-a-Number)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)

As a data scientist, we will have to decide what to do when encountering missing values (a.k.a, not-a-numbers).  We might decide to drop the row containing it, drop the whole column, or impute it.  Today, let's focus on finding these NaNs.

In [31]:
df.isnull().sum().sum()

1215

In return, we get a new `DataFrame` with Boolean values.  `True` if the value is `NaN`, `False` otherwise.

We can also get the count per column:

In [32]:
df.isnull().sum()

ID                 0
Address            0
Latitude           0
Longitude          0
DateOfSale         0
SalePrice          0
SalePriceUnit      0
IsAStudio         14
Beds             164
Baths             58
Size              33
SizeUnit          33
LotSize          444
LotSizeUnit      444
BuiltInYear       25
dtype: int64

Summing again will return the number of cells in the `DataFrame` with missing values.

In [ ]:
# TODO

Equivalently, we can also use the `.isnull()` function:

In [33]:
pd.isnull(df)

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,...,False,False,True,True,False
1,False,False,False,False,False,...,False,False,False,False,False
2,False,False,False,False,False,...,False,False,False,False,False
3,False,False,False,False,False,...,False,False,True,True,False
4,False,False,False,False,False,...,False,False,True,True,False
5,False,False,False,False,False,...,False,False,True,True,False
6,False,False,False,False,False,...,False,False,True,True,False
7,False,False,False,False,False,...,False,False,False,False,False
8,False,False,False,False,False,...,False,False,False,False,False
9,False,False,False,False,False,...,False,False,True,True,False
10,False,False,False,False,False,...,False,False,True,True,False
11,False,False,False,False,False,...,False,False,True,True,False
12,False,False,False,False,False,...,False,False,True,True,False
13,False,False,False,False,False,...,False,False,False,False,False
14,False,False,False,False,False,...,False,False,True,True,False
15,False,False,False,False,False,...,False,False,True,True,False
16,False,False,False,False,False,...,False,False,True,True,False
17,False,False,False,False,False,...,False,False,True,True,False
18,False,False,False,False,False,...,False,False,True,True,False
19,False,False,False,False,False,...,False,False,False,False,False
20,False,False,False,False,False,...,False,False,True,True,False
21,False,False,False,False,False,...,False,False,True,True,False
22,False,False,False,False,False,...,False,False,False,False,False
23,False,False,False,False,False,...,False,False,True,True,False
24,False,False,False,False,False,...,False,False,False,False,False
25,False,False,False,False,False,...,False,False,True,True,False
26,False,False,False,False,False,...,False,False,True,True,False
27,False,False,False,False,False,...,False,False,True,True,False
28,False,False,False,False,False,...,False,False,True,True,False
29,False,False,False,False,False,...,False,False,True,True,False
30,False,False,False,False,False,...,False,False,True,True,False
31,False,False,False,False,False,...,False,False,True,True,False
32,False,False,False,False,False,...,False,False,True,True,False
33,False,False,False,False,False,...,False,False,True,True,False
34,False,False,False,False,False,...,False,False,True,True,False
35,False,False,False,False,False,...,False,False,False,False,False
36,False,False,False,False,False,...,False,False,True,True,False
37,False,False,False,False,False,...,False,False,True,True,False
38,False,False,False,False,False,...,False,False,True,True,False
39,False,False,False,False,False,...,False,False,True,True,False
40,False,False,False,False,False,...,False,False,False,False,False
41,False,False,False,False,False,...,False,False,False,False,False
42,False,False,False,False,False,...,False,False,False,False,False
43,False,False,False,False,False,...,False,False,False,False,False
44,False,False,False,False,False,...,False,False,False,False,False
45,False,False,False,False,False,...,False,False,False,False,False
46,False,False,False,False,False,...,False,False,False,False,False
47,False,False,False,False,False,...,False,False,False,False,False
48,False,False,False,False,False,...,False,False,True,True,False
49,False,False,False,False,False,...,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...
950,False,False,False,False,False,...,False,False,True,True,False
951,False,False,False,False,False,...,False,False,True,True,False
952,False,False,False,False,False,...,True,True,True,True,False
953,False,False,False,False,False,...,False,False,True,True,False
954,False,False,False,False,False,...,False,False,True,True,False
955,False,False,False,False,False,...,True,True,True,True,False
956,False,False,False,False,False,...,True,True,False,False,False
957,False,False,False,False,False,...,False,False,True,True,False
958,False,False,False,False,False,...,False,False,True,True,True
959,False,False,False,False,False,...,True,True,True,True,False
960,False,False,False,False,False,...,False,False,True,True,False
961,False,False,False,False,False,...,True,True,True,True,True
962,False,False,False,False,False,...,True,True,True,True,True
963,False,False,False,False,False,...,True,True,True,True,True
964,False,False,False,False,False,...,True,True,True,True,True
965,False,False,False,False,False,...,True,True,True,True,False
966,False,False,False,False,False,...,False,False,False,False,False
967,False,False,False,False,False,...,False,False,True,True,False
968,False,False,False,False,False,...,False,False,True,True,False
969,False,False,False,False,False,...,False,False,True,True,False
970,False,False,False,False,False,...,False,False,True,True,True
971,False,False,False,False,False,...,False,False,True,True,True
972,False,False,False,False,False,...,False,False,True,True,False
973,False,False,False,False,False,...,True,True,True,True,False
974,False,False,False,False,False,...,False,False,True,True,False
975,False,False,False,False,False,...,False,False,True,True,False
976,False,False,False,False,False,...,False,False,True,True,False
977,False,False,False,False,False,...,False,False,True,True,False
978,False,False,False,False,False,...,False,False,False,False,False
979,False,False,False,False,False,...,False,False,True,True,False
980,False,False,False,False,False,...,False,False,False,False,False
981,False,False,False,False,False,...,True,True,True,True,False
982,False,False,False,False,False,...,False,False,True,True,False
983,False,False,False,False,False,...,False,False,True,True,False
984,False,False,False,False,False,...,True,True,True,True,True
985,False,False,False,False,False,...,True,True,False,False,False
986,False,False,False,False,False,...,True,True,True,True,False
987,False,False,False,False,False,...,True,True,True,True,True
988,False,False,False,False,False,...,False,False,False,False,False
989,False,False,False,False,False,...,False,False,True,True,False
990,False,False,False,False,False,...,True,True,True,True,False
991,False,False,False,False,False,...,False,False,True,True,False
992,False,False,False,False,False,...,False,False,True,True,False
993,False,False,False,False,False,...,False,False,True,True,False
994,False,False,False,False,False,...,False,False,True,True,False
995,False,False,False,False,False,...,False,False,True,True,False
996,False,False,False,False,False,...,False,False,True,True,False
997,False,False,False,False,False,...,False,False,False,False,False
998,False,False,False,False,False,...,False,False,True,True,False
999,False,False,False,False,False,...,False,False,True,True,False

We also also use `.notnull()`, its complement method:

In [34]:
df.notnull()

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,True,True,True,True,True,...,True,True,False,False,True
1,True,True,True,True,True,...,True,True,True,True,True
2,True,True,True,True,True,...,True,True,True,True,True
3,True,True,True,True,True,...,True,True,False,False,True
4,True,True,True,True,True,...,True,True,False,False,True
5,True,True,True,True,True,...,True,True,False,False,True
6,True,True,True,True,True,...,True,True,False,False,True
7,True,True,True,True,True,...,True,True,True,True,True
8,True,True,True,True,True,...,True,True,True,True,True
9,True,True,True,True,True,...,True,True,False,False,True
10,True,True,True,True,True,...,True,True,False,False,True
11,True,True,True,True,True,...,True,True,False,False,True
12,True,True,True,True,True,...,True,True,False,False,True
13,True,True,True,True,True,...,True,True,True,True,True
14,True,True,True,True,True,...,True,True,False,False,True
15,True,True,True,True,True,...,True,True,False,False,True
16,True,True,True,True,True,...,True,True,False,False,True
17,True,True,True,True,True,...,True,True,False,False,True
18,True,True,True,True,True,...,True,True,False,False,True
19,True,True,True,True,True,...,True,True,True,True,True
20,True,True,True,True,True,...,True,True,False,False,True
21,True,True,True,True,True,...,True,True,False,False,True
22,True,True,True,True,True,...,True,True,True,True,True
23,True,True,True,True,True,...,True,True,False,False,True
24,True,True,True,True,True,...,True,True,True,True,True
25,True,True,True,True,True,...,True,True,False,False,True
26,True,True,True,True,True,...,True,True,False,False,True
27,True,True,True,True,True,...,True,True,False,False,True
28,True,True,True,True,True,...,True,True,False,False,True
29,True,True,True,True,True,...,True,True,False,False,True
30,True,True,True,True,True,...,True,True,False,False,True
31,True,True,True,True,True,...,True,True,False,False,True
32,True,True,True,True,True,...,True,True,False,False,True
33,True,True,True,True,True,...,True,True,False,False,True
34,True,True,True,True,True,...,True,True,False,False,True
35,True,True,True,True,True,...,True,True,True,True,True
36,True,True,True,True,True,...,True,True,False,False,True
37,True,True,True,True,True,...,True,True,False,False,True
38,True,True,True,True,True,...,True,True,False,False,True
39,True,True,True,True,True,...,True,True,False,False,True
40,True,True,True,True,True,...,True,True,True,True,True
41,True,True,True,True,True,...,True,True,True,True,True
42,True,True,True,True,True,...,True,True,True,True,True
43,True,True,True,True,True,...,True,True,True,True,True
44,True,True,True,True,True,...,True,True,True,True,True
45,True,True,True,True,True,...,True,True,True,True,True
46,True,True,True,True,True,...,True,True,True,True,True
47,True,True,True,True,True,...,True,True,True,True,True
48,True,True,True,True,True,...,True,True,False,False,True
49,True,True,True,True,True,...,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
950,True,True,True,True,True,...,True,True,False,False,True
951,True,True,True,True,True,...,True,True,False,False,True
952,True,True,True,True,True,...,False,False,False,False,True
953,True,True,True,True,True,...,True,True,False,False,True
954,True,True,True,True,True,...,True,True,False,False,True
955,True,True,True,True,True,...,False,False,False,False,True
956,True,True,True,True,True,...,False,False,True,True,True
957,True,True,True,True,True,...,True,True,False,False,True
958,True,True,True,True,True,...,True,True,False,False,False
959,True,True,True,True,True,...,False,False,False,False,True
960,True,True,True,True,True,...,True,True,False,False,True
961,True,True,True,True,True,...,False,False,False,False,False
962,True,True,True,True,True,...,False,False,False,False,False
963,True,True,True,True,True,...,False,False,False,False,False
964,True,True,True,True,True,...,False,False,False,False,False
965,True,True,True,True,True,...,False,False,False,False,True
966,True,True,True,True,True,...,True,True,True,True,True
967,True,True,True,True,True,...,True,True,False,False,True
968,True,True,True,True,True,...,True,True,False,False,True
969,True,True,True,True,True,...,True,True,False,False,True
970,True,True,True,True,True,...,True,True,False,False,False
971,True,True,True,True,True,...,True,True,False,False,False
972,True,True,True,True,True,...,True,True,False,False,True
973,True,True,True,True,True,...,False,False,False,False,True
974,True,True,True,True,True,...,True,True,False,False,True
975,True,True,True,True,True,...,True,True,False,False,True
976,True,True,True,True,True,...,True,True,False,False,True
977,True,True,True,True,True,...,True,True,False,False,True
978,True,True,True,True,True,...,True,True,True,True,True
979,True,True,True,True,True,...,True,True,False,False,True
980,True,True,True,True,True,...,True,True,True,True,True
981,True,True,True,True,True,...,False,False,False,False,True
982,True,True,True,True,True,...,True,True,False,False,True
983,True,True,True,True,True,...,True,True,False,False,True
984,True,True,True,True,True,...,False,False,False,False,False
985,True,True,True,True,True,...,False,False,True,True,True
986,True,True,True,True,True,...,False,False,False,False,True
987,True,True,True,True,True,...,False,False,False,False,False
988,True,True,True,True,True,...,True,True,True,True,True
989,True,True,True,True,True,...,True,True,False,False,True
990,True,True,True,True,True,...,False,False,False,False,True
991,True,True,True,True,True,...,True,True,False,False,True
992,True,True,True,True,True,...,True,True,False,False,True
993,True,True,True,True,True,...,True,True,False,False,True
994,True,True,True,True,True,...,True,True,False,False,True
995,True,True,True,True,True,...,True,True,False,False,True
996,True,True,True,True,True,...,True,True,False,False,True
997,True,True,True,True,True,...,True,True,True,True,True
998,True,True,True,True,True,...,True,True,False,False,True
999,True,True,True,True,True,...,True,True,False,False,True

In [35]:
pd.notnull(df)

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,True,True,True,True,True,...,True,True,False,False,True
1,True,True,True,True,True,...,True,True,True,True,True
2,True,True,True,True,True,...,True,True,True,True,True
3,True,True,True,True,True,...,True,True,False,False,True
4,True,True,True,True,True,...,True,True,False,False,True
5,True,True,True,True,True,...,True,True,False,False,True
6,True,True,True,True,True,...,True,True,False,False,True
7,True,True,True,True,True,...,True,True,True,True,True
8,True,True,True,True,True,...,True,True,True,True,True
9,True,True,True,True,True,...,True,True,False,False,True
10,True,True,True,True,True,...,True,True,False,False,True
11,True,True,True,True,True,...,True,True,False,False,True
12,True,True,True,True,True,...,True,True,False,False,True
13,True,True,True,True,True,...,True,True,True,True,True
14,True,True,True,True,True,...,True,True,False,False,True
15,True,True,True,True,True,...,True,True,False,False,True
16,True,True,True,True,True,...,True,True,False,False,True
17,True,True,True,True,True,...,True,True,False,False,True
18,True,True,True,True,True,...,True,True,False,False,True
19,True,True,True,True,True,...,True,True,True,True,True
20,True,True,True,True,True,...,True,True,False,False,True
21,True,True,True,True,True,...,True,True,False,False,True
22,True,True,True,True,True,...,True,True,True,True,True
23,True,True,True,True,True,...,True,True,False,False,True
24,True,True,True,True,True,...,True,True,True,True,True
25,True,True,True,True,True,...,True,True,False,False,True
26,True,True,True,True,True,...,True,True,False,False,True
27,True,True,True,True,True,...,True,True,False,False,True
28,True,True,True,True,True,...,True,True,False,False,True
29,True,True,True,True,True,...,True,True,False,False,True
30,True,True,True,True,True,...,True,True,False,False,True
31,True,True,True,True,True,...,True,True,False,False,True
32,True,True,True,True,True,...,True,True,False,False,True
33,True,True,True,True,True,...,True,True,False,False,True
34,True,True,True,True,True,...,True,True,False,False,True
35,True,True,True,True,True,...,True,True,True,True,True
36,True,True,True,True,True,...,True,True,False,False,True
37,True,True,True,True,True,...,True,True,False,False,True
38,True,True,True,True,True,...,True,True,False,False,True
39,True,True,True,True,True,...,True,True,False,False,True
40,True,True,True,True,True,...,True,True,True,True,True
41,True,True,True,True,True,...,True,True,True,True,True
42,True,True,True,True,True,...,True,True,True,True,True
43,True,True,True,True,True,...,True,True,True,True,True
44,True,True,True,True,True,...,True,True,True,True,True
45,True,True,True,True,True,...,True,True,True,True,True
46,True,True,True,True,True,...,True,True,True,True,True
47,True,True,True,True,True,...,True,True,True,True,True
48,True,True,True,True,True,...,True,True,False,False,True
49,True,True,True,True,True,...,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
950,True,True,True,True,True,...,True,True,False,False,True
951,True,True,True,True,True,...,True,True,False,False,True
952,True,True,True,True,True,...,False,False,False,False,True
953,True,True,True,True,True,...,True,True,False,False,True
954,True,True,True,True,True,...,True,True,False,False,True
955,True,True,True,True,True,...,False,False,False,False,True
956,True,True,True,True,True,...,False,False,True,True,True
957,True,True,True,True,True,...,True,True,False,False,True
958,True,True,True,True,True,...,True,True,False,False,False
959,True,True,True,True,True,...,False,False,False,False,True
960,True,True,True,True,True,...,True,True,False,False,True
961,True,True,True,True,True,...,False,False,False,False,False
962,True,True,True,True,True,...,False,False,False,False,False
963,True,True,True,True,True,...,False,False,False,False,False
964,True,True,True,True,True,...,False,False,False,False,False
965,True,True,True,True,True,...,False,False,False,False,True
966,True,True,True,True,True,...,True,True,True,True,True
967,True,True,True,True,True,...,True,True,False,False,True
968,True,True,True,True,True,...,True,True,False,False,True
969,True,True,True,True,True,...,True,True,False,False,True
970,True,True,True,True,True,...,True,True,False,False,False
971,True,True,True,True,True,...,True,True,False,False,False
972,True,True,True,True,True,...,True,True,False,False,True
973,True,True,True,True,True,...,False,False,False,False,True
974,True,True,True,True,True,...,True,True,False,False,True
975,True,True,True,True,True,...,True,True,False,False,True
976,True,True,True,True,True,...,True,True,False,False,True
977,True,True,True,True,True,...,True,True,False,False,True
978,True,True,True,True,True,...,True,True,True,True,True
979,True,True,True,True,True,...,True,True,False,False,True
980,True,True,True,True,True,...,True,True,True,True,True
981,True,True,True,True,True,...,False,False,False,False,True
982,True,True,True,True,True,...,True,True,False,False,True
983,True,True,True,True,True,...,True,True,False,False,True
984,True,True,True,True,True,...,False,False,False,False,False
985,True,True,True,True,True,...,False,False,True,True,True
986,True,True,True,True,True,...,False,False,False,False,True
987,True,True,True,True,True,...,False,False,False,False,False
988,True,True,True,True,True,...,True,True,True,True,True
989,True,True,True,True,True,...,True,True,False,False,True
990,True,True,True,True,True,...,False,False,False,False,True
991,True,True,True,True,True,...,True,True,False,False,True
992,True,True,True,True,True,...,True,True,False,False,True
993,True,True,True,True,True,...,True,True,False,False,True
994,True,True,True,True,True,...,True,True,False,False,True
995,True,True,True,True,True,...,True,True,False,False,True
996,True,True,True,True,True,...,True,True,False,False,True
997,True,True,True,True,True,...,True,True,True,True,True
998,True,True,True,True,True,...,True,True,False,False,True
999,True,True,True,True,True,...,True,True,False,False,True

> ### `.index` and `.columns`: row and column labels

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html)

Use the `.index` property to get the label for rows.  For columns, use the `.columns` property.

In [ ]:
df.index

In [ ]:
type(df.index)

In this specific case, rows are just numbered from 0 to 1,000.  Note that, similarly to Python's standard `range` function, this range also excludes the last number.

In [ ]:
df.columns

In [ ]:
type(df.columns)

> ## `[ [] ]` and `[]`: subsetting on columns

Selecting specific columns is performed by using the `[]` operator.

Passing a single integer, or a list of integers, to `[]` will perform a location-based lookup of the columns.

> E.g., columns #5 and #6:

In [ ]:
# TODO
df[ [5,6] ]

> Let's check that the column subsetting returns a `DataFrame`:

In [ ]:
# TODO

> Note that a `DataFrame` can be made of a single column.  E.g., column #7 only:

In [ ]:
# TODO
type (df [ [7] ])

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `SalePrice` and `SalePriceUnit`:

In [ ]:
# TODO

However, you cannot mix integers and non-integers.  E.g.,

In [ ]:
# "df[ ['SalePrice', 6] ]" errors out...  Try it!

Not passing a list always results in a value-based lookup of the column:

In [ ]:
df['Address'].isnull().sum

> ## `Series`

(http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

> Let's check the result type:

In [18]:
df.Address

0          55 Vandewater St APT 9, San Francisco, CA
1                740 Francisco St, San Francisco, CA
2                819 Francisco St, San Francisco, CA
3           199 Chestnut St APT 5, San Francisco, CA
4         111 Chestnut St APT 403, San Francisco, CA
5         111 Chestnut St APT 702, San Francisco, CA
6          1821 Grant Ave APT 101, San Francisco, CA
7             2300 Leavenworth St, San Francisco, CA
8            1047-1049 Lombard St, San Francisco, CA
9             1055 Lombard St # C, San Francisco, CA
10        101 Lombard St APT 116E, San Francisco, CA
11       1407 Montgomery St APT 2, San Francisco, CA
12       1360 Montgomery St APT 1, San Francisco, CA
13            1327-1329 Kearny St, San Francisco, CA
14         44 Macondray Ln APT 2E, San Francisco, CA
15          1070 Green St APT 201, San Francisco, CA
16         1070 Green St APT 1402, San Francisco, CA
17      1907 Leavenworth St APT 8, San Francisco, CA
18            1101 Green St # 303, San Francisco, CA
19                  1807 Jones St, San Francisco, CA
20           999 Green St APT 905, San Francisco, CA
21         455 Vallejo St APT 111, San Francisco, CA
22           1163-1165 Vallejo St, San Francisco, CA
23               1300 Pacific Ave, San Francisco, CA
24                 948 Jackson St, San Francisco, CA
25         946 Stockton St APT 6B, San Francisco, CA
26         946 Stockton St APT 9E, San Francisco, CA
27           1250 Clay St APT 306, San Francisco, CA
28          1250 Jones St APT 503, San Francisco, CA
29          1250 Jones St APT 802, San Francisco, CA
30      1170 Sacramento St APT 9B, San Francisco, CA
31     1177 California St APT 702, San Francisco, CA
32     1177 California St APT 501, San Francisco, CA
33     1177 California St APT 423, San Francisco, CA
34     1177 California St APT 304, San Francisco, CA
35                767-771 Pine St, San Francisco, CA
36           1001 Pine St APT 608, San Francisco, CA
37           1001 Pine St APT 801, San Francisco, CA
38            795 Sutter St # 303, San Francisco, CA
39        631 Ofarrell St APT 816, San Francisco, CA
40                 47-49 Casa Way, San Francisco, CA
41                    59 Rico Way, San Francisco, CA
42                134 Alhambra St, San Francisco, CA
43                180 Alhambra St, San Francisco, CA
44                   146 Avila St, San Francisco, CA
45         1051-1053 Francisco St, San Francisco, CA
46                 3315 Pierce St, San Francisco, CA
47          1763-1765 Chestnut St, San Francisco, CA
48      2701 Van Ness Ave APT 207, San Francisco, CA
49      2701 Van Ness Ave APT 702, San Francisco, CA
                           ...
950              3947 17th Street, San Francisco, CA
951          2261-65 Fulton #2263, San Francisco, CA
952            2149 Lyon St APT 4, San Francisco, CA
953          1529 Golden Gate Ave, San Francisco, CA
954              3330 Clay St # C, San Francisco, CA
955           520 Natoma St APT 9, San Francisco, CA
956                   532 Lyon St, San Francisco, CA
957            980 Baker St APT 3, San Francisco, CA
958                55 1/2 Lucy St, San Francisco, CA
959            2149 Lyon St APT 1, San Francisco, CA
960           130A Langton Street, San Francisco, CA
961          1731 Larkin St APT 3, San Francisco, CA
962            164 Parker Ave # B, San Francisco, CA
963            164 Parker Ave # A, San Francisco, CA
964                    181 Noe St, San Francisco, CA
965              1676 Newcomb Ave, San Francisco, CA
966               1915 Diamond St, San Francisco, CA
967                 1606 Jones St, San Francisco, CA
968    1890 Jefferson Street #302, San Francisco, CA
969        2299 Market St APT 502, San Francisco, CA
970                  2137 Pine St, San Francisco, CA
971                 409 Miguel St, San Francisco, CA
972               251 Missouri St, San Francisco, CA
973               1650 Florida St, San Francisco, CA
974             41 Collingwood St, San Francisco, CA
975                2753 Bryant St, San Francisco, CA
976               244 Precita Ave, San Francisco, CA
977                   6 Rossi Ave, San Francisco, CA
978               333 Potrero Ave, San Francisco, CA
979                 1340 Union St, San Francisco, CA
980               688 Douglass St, San Francisco, CA
981                 414 Linden St, San Francisco, CA
982         1408 31st Ave APT 303, San Francisco, CA
983                  333 Beale St, San Francisco, CA
984                82 Alvarado St, San Francisco, CA
985            2619 Sacramento St, San Francisco, CA
986               129 Central Ave, San Francisco, CA
987                 444 Linden St, San Francisco, CA
988                 2595 38th Ave, San Francisco, CA
989                  3500 19th St, San Francisco, CA
990         1738 Lombard St APT 4, San Francisco, CA
991       201 Sansome St UNIT 501, San Francisco, CA
992                 925 Larkin St, San Francisco, CA
993        829 Folsom St UNIT 906, San Francisco, CA
994                129 Octavia St, San Francisco, CA
995            412 Green St APT A, San Francisco, CA
996          355 1st St UNIT 1905, San Francisco, CA
997             33 Santa Cruz Ave, San Francisco, CA
998                1821 Grant Ave, San Francisco, CA
999                 1200 Gough St, San Francisco, CA
Name: Address, dtype: object

Columns can also be retrieved using "attribute" access as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  This won't work however for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `.Address` property:

In [ ]:
# TODO

> Use the `.name` property (not `.columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.name.html)

In [ ]:
# TODO
df['Address'].name

> To find the zero-based location of a column, use the `.get_loc()` method of the `.columns` property.  E.g.,

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.get_loc.html)

In [ ]:
df.columns.get_loc('Beds')

In [ ]:
df[ [df.columns.get_loc('Beds')] ]

We should get the same output as subsetting a `DataFrame` on `Beds`:

In [ ]:
# TODO

> ## `[]`: slicing on rows

> E.g., on the first five rows:

In [ ]:
# TODO

> ## `.loc[]` and `.iloc[]`: subsetting rows by index label and location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.loc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.set_index.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.reset_index.html)

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.

> E.g., `ID`:

In [12]:
df

NameError: name 'df' is not defined

In [ ]:
df = df.set_index('ID')

In [ ]:
df.index

In [ ]:
df

> E.g., row with index 15063505:

In [ ]:
# TODO
df.loc[15063505]

Its name is its value in the index.

> E.g., rows with indices 15063505 and 15064044:

In [ ]:
# TODO
df.loc[ [15063505, 15064044] ]

> E.g., rows #1 and #3:

In [36]:
# TODO
df.iloc[[0,2]]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0

> ## `.at[]` and `.iat[]`: scalar lookup by label or location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.at.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.at.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iat.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iat.html)

Scalar values can be looked up by label using `.at`, by passing both the row label and then the column name/value.

> E.g., row with index 15064044 and column `DateOfSale`.

In [ ]:
# TODO
df. at[1504044]

Scalar values can also be looked up by location using `.iat` by passing both the row location and then the column location.

> E.g., row #3 and column #3:

In [ ]:
# TODO

> ## Subsetting rows by Boolean selection (a.k.a., masking)

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [44]:
# TODO
df[df.BuiltInYear < 1900]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
11,15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,...,1000.0,sqft,NaN,NaN,1870.0
72,15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,...,7375.0,sqft,2748.0,sqft,1890.0
91,15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,...,1593.0,sqft,NaN,NaN,1895.0
93,15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,...,2430.0,sqft,3781.0,sqft,1890.0
115,15082108,"3016 Sacramento St, San Francisco, CA",37788970,-122442995,12/22/15,...,1408.0,sqft,NaN,NaN,1890.0
123,15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,11/24/15,...,1515.0,sqft,NaN,NaN,1895.0
380,15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,11/23/15,...,3500.0,sqft,4165.0,sqft,1872.0
564,15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,11/24/15,...,2032.0,sqft,1913.0,sqft,1892.0
725,63197592,"3021 20th St, San Francisco, CA",37758878,-122411147,12/7/15,...,1267.0,sqft,NaN,NaN,1890.0
829,82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,...,2300.0,sqft,NaN,NaN,1890.0
887,114318108,"1442 Grove St # A, San Francisco, CA",37775894,-122440467,12/24/15,...,593.0,sqft,NaN,NaN,1890.0
898,119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,...,3006.0,sqft,NaN,NaN,1885.0
921,123597223,"1954 Golden Gate Ave, San Francisco, CA",37778246,-122442763,11/24/15,...,1275.0,sqft,NaN,NaN,1895.0
922,123597388,"667 Shotwell St # A, San Francisco, CA",37757851,-122415629,2/10/16,...,1212.0,sqft,NaN,NaN,1890.0
994,2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,...,3655.0,sqft,NaN,NaN,1883.0

> Let's subset on that `Series`:

In [ ]:
# TODO

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

In [50]:
# TODO
df[(df.BuiltInYear < 1900) & (df.Size > 1500)]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
72,15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,...,7375.0,sqft,2748.0,sqft,1890.0
91,15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,...,1593.0,sqft,NaN,NaN,1895.0
93,15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,...,2430.0,sqft,3781.0,sqft,1890.0
123,15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,11/24/15,...,1515.0,sqft,NaN,NaN,1895.0
380,15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,11/23/15,...,3500.0,sqft,4165.0,sqft,1872.0
564,15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,11/24/15,...,2032.0,sqft,1913.0,sqft,1892.0
829,82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,...,2300.0,sqft,NaN,NaN,1890.0
898,119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,...,3006.0,sqft,NaN,NaN,1885.0
994,2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,...,3655.0,sqft,NaN,NaN,1883.0

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO

> To get a `Series` instead of a `DataFrame`:

In [ ]:
# TODO

## Part B - Wrangling the SF Housing dataset (take 2) with `pandas`

In [52]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow-starter.csv'), index_col = 'ID')

In [53]:
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,...,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,...,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,...,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,...,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,...,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,...,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,...,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,...,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,...,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,...,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,...,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,...,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,...,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,...,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,...,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,...,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,...,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,...,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,...,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,...,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,...,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,...,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,...,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,...,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,...,1115.0,sqft,NaN,NaN,1929.0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",37792930,-122412195,12/3/15,3.80,...,1961.0,sqft,NaN,NaN,1963.0
15068514,"1177 California St APT 702, San Francisco, CA",37791089,-122413658,12/18/15,665000.00,...,511.0,sqft,NaN,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",37791089,-122413658,12/15/15,900000.00,...,884.0,sqft,NaN,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",37791089,-122413658,12/29/15,738000.00,...,706.0,sqft,NaN,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",37791089,-122413658,12/1/15,790000.00,...,645.0,sqft,NaN,NaN,1977.0
15068767,"767-771 Pine St, San Francisco, CA",37790971,-122408473,12/31/15,2.49,...,4605.0,sqft,1376.0,sqft,1909.0
15068857,"1001 Pine St APT 608, San Francisco, CA",37790348,-122412568,12/7/15,535000.00,...,450.0,sqft,NaN,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",37790348,-122412568,12/24/15,650000.00,...,650.0,sqft,NaN,NaN,1963.0
15069276,"795 Sutter St # 303, San Francisco, CA",37788404,-122413260,11/15/15,1.20,...,1753.0,sqft,NaN,NaN,1913.0
15069477,"631 Ofarrell St APT 816, San Francisco, CA",37785240,-122415125,12/18/15,485000.00,...,480.0,sqft,NaN,NaN,1930.0
15069628,"47-49 Casa Way, San Francisco, CA",37805371,-122439029,11/25/15,3.80,...,3905.0,sqft,2748.0,sqft,1939.0
15069883,"59 Rico Way, San Francisco, CA",37804909,-122439650,12/21/15,2.55,...,1675.0,sqft,2613.0,sqft,1925.0
15070227,"134 Alhambra St, San Francisco, CA",37802318,-122438801,1/18/16,3.08,...,2599.0,sqft,3005.0,sqft,1925.0
15070235,"180 Alhambra St, San Francisco, CA",37801939,-122439299,12/7/15,3.33,...,2864.0,sqft,2286.0,sqft,1925.0
15070255,"146 Avila St, San Francisco, CA",37801998,-122440411,12/23/15,3.02,...,2100.0,sqft,2495.0,sqft,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",37803239,-122422458,12/1/15,9.71,...,4650.0,sqft,4726.0,sqft,1953.0
15070728,"3315 Pierce St, San Francisco, CA",37800650,-122439786,1/6/16,2.50,...,2255.0,sqft,2500.0,sqft,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",37801061,-122432273,12/1/15,1.38,...,3260.0,sqft,3000.0,sqft,1920.0
15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",37800573,-122424849,11/30/15,885000.00,...,885.0,sqft,NaN,NaN,1929.0
15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",37800573,-122424849,12/2/15,718000.00,...,793.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...
2100170419,"3947 17th Street, San Francisco, CA",37762490,-122433500,2/4/16,1.25,...,1250.0,sqft,NaN,NaN,1910.0
2100628935,"2261-65 Fulton #2263, San Francisco, CA",37772873,-122453442,1/12/16,995000.00,...,1420.0,sqft,NaN,NaN,1911.0
2100643449,"2149 Lyon St APT 4, San Francisco, CA",37790535,-122446099,12/27/15,1.10,...,NaN,NaN,NaN,NaN,1907.0
2100646549,"1529 Golden Gate Ave, San Francisco, CA",37778720,-122436600,1/7/16,2.00,...,2120.0,sqft,NaN,NaN,1900.0
2100651320,"3330 Clay St # C, San Francisco, CA",37789264,-122447761,1/5/16,1.21,...,1283.0,sqft,NaN,NaN,1910.0
2100682649,"520 Natoma St APT 9, San Francisco, CA",37779880,-122408300,12/1/15,450000.00,...,NaN,NaN,NaN,NaN,1911.0
2100695464,"532 Lyon St, San Francisco, CA",37775802,-122442710,11/24/15,4.50,...,NaN,NaN,3044.0,sqft,1904.0
2100695466,"980 Baker St APT 3, San Francisco, CA",37780437,-122441474,12/22/15,1.75,...,1758.0,sqft,NaN,NaN,1961.0
2100784055,"55 1/2 Lucy St, San Francisco, CA",37729980,-122393157,12/31/15,2500.00,...,1000.0,sqft,NaN,NaN,NaN
2100786271,"2149 Lyon St APT 1, San Francisco, CA",37790535,-122446099,12/1/15,680000.00,...,NaN,NaN,NaN,NaN,1907.0
2100791455,"130A Langton Street, San Francisco, CA",37776110,-122408270,12/13/15,750000.00,...,1000.0,sqft,NaN,NaN,1906.0
2100830039,"1731 Larkin St APT 3, San Francisco, CA",37793838,-122420013,2/9/16,1.29,...,NaN,NaN,NaN,NaN,NaN
2100831587,"164 Parker Ave # B, San Francisco, CA",37782512,-122454025,12/3/15,1.21,...,NaN,NaN,NaN,NaN,NaN
2100831588,"164 Parker Ave # A, San Francisco, CA",37782512,-122454025,11/19/15,1.16,...,NaN,NaN,NaN,NaN,NaN
2100831589,"181 Noe St, San Francisco, CA",37766201,-122433226,11/22/15,1.23,...,NaN,NaN,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",37736278,-122391098,12/8/15,1.60,...,NaN,NaN,NaN,NaN,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",37742141,-122435111,12/29/15,1.80,...,2400.0,sqft,4356.0,sqft,1910.0
2100861826,"1606 Jones St, San Francisco, CA",37796169,-122414825,12/11/15,2.80,...,4035.0,sqft,NaN,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",37804840,-122442970,2/4/16,1.07,...,1018.0,sqft,NaN,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",37764100,-122433000,12/3/15,915000.00,...,700.0,sqft,NaN,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,...,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,...,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,...,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,...,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,...,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,...,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,...,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,...,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,...,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,...,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,...,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,...,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,...,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,...,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,...,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,...,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,...,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,...,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,...,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,...,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,...,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,...,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,...,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,...,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,...,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,...,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,...,900.0,sqft,NaN,NaN,1966.0

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

> ### Remove the `Latitude` and `Longitude` columns

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [56]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

ValueError: labels ['Latitude' 'Longitude'] not contained in axis

In [57]:
df

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,False,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,False,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,False,...,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.50,$M,False,...,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.00,$,False,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.00,$,False,...,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,835000.00,$,False,...,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.83,$M,False,...,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.05,$M,True,...,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.19,$M,False,...,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,800000.00,$,False,...,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,976000.00,$,False,...,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,720000.00,$,False,...,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.25,$M,False,...,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.29,$M,False,...,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.90,$M,False,...,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.60,$M,False,...,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,908000.00,$,False,...,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.21,$M,False,...,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.70,$M,False,...,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.28,$M,False,...,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,875000.00,$,False,...,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,300000.00,$,False,...,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,425000.00,$,True,...,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.95,$M,False,...,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,775000.00,$,False,...,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,705000.00,$,False,...,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,695000.00,$,False,...,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.41,$M,False,...,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.68,$M,False,...,1115.0,sqft,NaN,NaN,1929.0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",12/3/15,3.80,$M,False,...,1961.0,sqft,NaN,NaN,1963.0
15068514,"1177 California St APT 702, San Francisco, CA",12/18/15,665000.00,$,False,...,511.0,sqft,NaN,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",12/15/15,900000.00,$,False,...,884.0,sqft,NaN,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",12/29/15,738000.00,$,True,...,706.0,sqft,NaN,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",12/1/15,790000.00,$,False,...,645.0,sqft,NaN,NaN,1977.0
15068767,"767-771 Pine St, San Francisco, CA",12/31/15,2.49,$M,False,...,4605.0,sqft,1376.0,sqft,1909.0
15068857,"1001 Pine St APT 608, San Francisco, CA",12/7/15,535000.00,$,True,...,450.0,sqft,NaN,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",12/24/15,650000.00,$,False,...,650.0,sqft,NaN,NaN,1963.0
15069276,"795 Sutter St # 303, San Francisco, CA",11/15/15,1.20,$M,False,...,1753.0,sqft,NaN,NaN,1913.0
15069477,"631 Ofarrell St APT 816, San Francisco, CA",12/18/15,485000.00,$,True,...,480.0,sqft,NaN,NaN,1930.0
15069628,"47-49 Casa Way, San Francisco, CA",11/25/15,3.80,$M,False,...,3905.0,sqft,2748.0,sqft,1939.0
15069883,"59 Rico Way, San Francisco, CA",12/21/15,2.55,$M,False,...,1675.0,sqft,2613.0,sqft,1925.0
15070227,"134 Alhambra St, San Francisco, CA",1/18/16,3.08,$M,False,...,2599.0,sqft,3005.0,sqft,1925.0
15070235,"180 Alhambra St, San Francisco, CA",12/7/15,3.33,$M,False,...,2864.0,sqft,2286.0,sqft,1925.0
15070255,"146 Avila St, San Francisco, CA",12/23/15,3.02,$M,False,...,2100.0,sqft,2495.0,sqft,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",12/1/15,9.71,$M,False,...,4650.0,sqft,4726.0,sqft,1953.0
15070728,"3315 Pierce St, San Francisco, CA",1/6/16,2.50,$M,False,...,2255.0,sqft,2500.0,sqft,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",12/1/15,1.38,$M,False,...,3260.0,sqft,3000.0,sqft,1920.0
15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",11/30/15,885000.00,$,False,...,885.0,sqft,NaN,NaN,1929.0
15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",12/2/15,718000.00,$,False,...,793.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...
2100170419,"3947 17th Street, San Francisco, CA",2/4/16,1.25,$M,False,...,1250.0,sqft,NaN,NaN,1910.0
2100628935,"2261-65 Fulton #2263, San Francisco, CA",1/12/16,995000.00,$,False,...,1420.0,sqft,NaN,NaN,1911.0
2100643449,"2149 Lyon St APT 4, San Francisco, CA",12/27/15,1.10,$M,False,...,NaN,NaN,NaN,NaN,1907.0
2100646549,"1529 Golden Gate Ave, San Francisco, CA",1/7/16,2.00,$M,False,...,2120.0,sqft,NaN,NaN,1900.0
2100651320,"3330 Clay St # C, San Francisco, CA",1/5/16,1.21,$M,False,...,1283.0,sqft,NaN,NaN,1910.0
2100682649,"520 Natoma St APT 9, San Francisco, CA",12/1/15,450000.00,$,False,...,NaN,NaN,NaN,NaN,1911.0
2100695464,"532 Lyon St, San Francisco, CA",11/24/15,4.50,$M,False,...,NaN,NaN,3044.0,sqft,1904.0
2100695466,"980 Baker St APT 3, San Francisco, CA",12/22/15,1.75,$M,False,...,1758.0,sqft,NaN,NaN,1961.0
2100784055,"55 1/2 Lucy St, San Francisco, CA",12/31/15,2500.00,$,False,...,1000.0,sqft,NaN,NaN,NaN
2100786271,"2149 Lyon St APT 1, San Francisco, CA",12/1/15,680000.00,$,False,...,NaN,NaN,NaN,NaN,1907.0
2100791455,"130A Langton Street, San Francisco, CA",12/13/15,750000.00,$,False,...,1000.0,sqft,NaN,NaN,1906.0
2100830039,"1731 Larkin St APT 3, San Francisco, CA",2/9/16,1.29,$M,False,...,NaN,NaN,NaN,NaN,NaN
2100831587,"164 Parker Ave # B, San Francisco, CA",12/3/15,1.21,$M,False,...,NaN,NaN,NaN,NaN,NaN
2100831588,"164 Parker Ave # A, San Francisco, CA",11/19/15,1.16,$M,False,...,NaN,NaN,NaN,NaN,NaN
2100831589,"181 Noe St, San Francisco, CA",11/22/15,1.23,$M,False,...,NaN,NaN,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",12/8/15,1.60,$M,NaN,...,NaN,NaN,NaN,NaN,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.80,$M,False,...,2400.0,sqft,4356.0,sqft,1910.0
2100861826,"1606 Jones St, San Francisco, CA",12/11/15,2.80,$M,False,...,4035.0,sqft,NaN,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",2/4/16,1.07,$M,False,...,1018.0,sqft,NaN,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",12/3/15,915000.00,$,False,...,700.0,sqft,NaN,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.55,$M,False,...,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,510000.00,$,False,...,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.45,$M,False,...,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,970000.00,$,False,...,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.30,$M,False,...,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.70,$M,False,...,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,785000.00,$,False,...,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.15,$M,False,...,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.14,$M,True,...,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.25,$M,False,...,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.15,$M,True,...,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,835000.00,$,False,...,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,890000.00,$,False,...,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.40,$M,False,...,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,750000.00,$,False,...,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.90,$M,True,...,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.80,$M,False,...,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,5800.00,$,NaN,...,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.24,$M,False,...,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.73,$M,False,...,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.40,$M,False,...,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,757500.00,$,False,...,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.43,$M,False,...,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,675000.00,$,False,...,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.75,$M,True,...,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,390000.00,$,True,...,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,860000.00,$,False,...,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.00,$,False,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.00,$,False,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.00,$,False,...,900.0,sqft,NaN,NaN,1966.0

> ### `SalePrice`: scale all amount to `$M`

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html)

In [64]:
df.SalePriceUnit.unique()

AttributeError: 'DataFrame' object has no attribute 'SalePriceUnit'

In [63]:
df_1 = df[df.SalePriceUnit == '$']
df_1 = df_1.drop('SalePriceUnit', axis = 1)

# Scaling sale price to $M
df_1.SalePrice /= 10 ** 6

df_6 = df[df.SalePriceUnit == '$M']
df_6 = df_6.drop('SalePriceUnit', axis = 1)

AttributeError: 'DataFrame' object has no attribute 'SalePriceUnit'

In [62]:
# Concatenate of two DataFrames by rows
df = pd.concat([df_1, df_6])

In [ ]:
# Resort the new DataFrame
df.sort_index(inplace = True)

In [65]:
df

,Address,DateOfSale,SalePrice,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,0.710,False,1.0,...,550.0,sqft,NaN,NaN,1980.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,0.970,False,2.0,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,0.940,False,2.0,...,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,0.835,False,1.0,...,1048.0,sqft,NaN,NaN,1975.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,0.800,False,1.0,...,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,0.976,False,1.0,...,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,0.720,False,1.0,...,552.0,sqft,NaN,NaN,1937.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,0.908,False,2.0,...,956.0,sqft,NaN,NaN,1907.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,0.875,False,1.0,...,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,0.300,False,NaN,...,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,0.425,True,NaN,...,989.0,sqft,NaN,NaN,1910.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,0.775,False,NaN,...,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,0.705,False,2.0,...,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,0.695,False,1.0,...,541.0,sqft,NaN,NaN,1950.0
15068514,"1177 California St APT 702, San Francisco, CA",12/18/15,0.665,False,1.0,...,511.0,sqft,NaN,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",12/15/15,0.900,False,1.0,...,884.0,sqft,NaN,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",12/29/15,0.738,True,NaN,...,706.0,sqft,NaN,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",12/1/15,0.790,False,1.0,...,645.0,sqft,NaN,NaN,1977.0
15068857,"1001 Pine St APT 608, San Francisco, CA",12/7/15,0.535,True,NaN,...,450.0,sqft,NaN,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",12/24/15,0.650,False,NaN,...,650.0,sqft,NaN,NaN,1963.0
15069477,"631 Ofarrell St APT 816, San Francisco, CA",12/18/15,0.485,True,NaN,...,480.0,sqft,NaN,NaN,1930.0
15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",11/30/15,0.885,False,NaN,...,885.0,sqft,NaN,NaN,1929.0
15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",12/2/15,0.718,False,NaN,...,793.0,sqft,NaN,NaN,1929.0
15072997,"1896 Pacific Ave APT 802, San Francisco, CA",12/15/15,0.250,False,2.0,...,2272.0,sqft,NaN,NaN,1924.0
15073657,"1895 Pacific Ave APT 506, San Francisco, CA",11/20/15,0.975,False,1.0,...,1165.0,sqft,NaN,NaN,1931.0
15074158,"1945 Washington St APT 411, San Francisco, CA",12/16/15,0.665,False,1.0,...,653.0,sqft,NaN,NaN,1987.0
15075410,"2015 Pine St # A, San Francisco, CA",12/1/15,0.795,False,1.0,...,708.0,sqft,NaN,NaN,1900.0
15076294,"1450 Post St APT 1006, San Francisco, CA",11/16/15,0.170,False,NaN,...,545.0,sqft,NaN,NaN,1992.0
15076310,"1450 Post St APT 1108, San Francisco, CA",11/24/15,0.399,False,1.0,...,595.0,sqft,NaN,NaN,1992.0
15076450,"1483 Sutter St APT 1102, San Francisco, CA",11/19/15,0.690,False,1.0,...,650.0,sqft,NaN,NaN,1993.0
15076699,"1 Daniel Burnham Ct APT 1202, San Francisco, CA",12/1/15,0.795,False,1.0,...,772.0,sqft,NaN,NaN,1988.0
15076711,"1 Daniel Burnham Ct APT 1404, San Francisco, CA",12/11/15,0.975,False,2.0,...,1009.0,sqft,NaN,NaN,1988.0
15076978,"66 Cleary Ct APT 1408, San Francisco, CA",12/21/15,0.895,False,2.0,...,1106.0,sqft,NaN,NaN,1963.0
15077111,"1200 Gough St APT 22B, San Francisco, CA",1/29/16,0.650,True,NaN,...,550.0,sqft,NaN,NaN,1966.0
15077403,"1310 Scott St # 40, San Francisco, CA",12/23/15,0.958,False,3.0,...,1270.0,sqft,NaN,NaN,1986.0
15077572,"601 Van Ness Ave APT 48, San Francisco, CA",11/30/15,0.830,False,2.0,...,1090.0,sqft,NaN,NaN,1982.0
15077602,"601 Van Ness Ave APT 78, San Francisco, CA",12/18/15,0.810,False,2.0,...,952.0,sqft,NaN,NaN,1982.0
15077705,"601 Van Ness Ave APT 605, San Francisco, CA",12/1/15,0.825,False,2.0,...,1072.0,sqft,NaN,NaN,1982.0
15077725,"601 Van Ness Ave APT 201, San Francisco, CA",1/5/16,0.555,False,1.0,...,750.0,sqft,NaN,NaN,1982.0
15077902,"601 Van Ness Ave APT 944, San Francisco, CA",12/10/15,0.600,False,1.0,...,894.0,sqft,NaN,NaN,1982.0
15077929,"601 Van Ness Ave APT 405, San Francisco, CA",12/4/15,0.825,False,2.0,...,881.0,sqft,NaN,NaN,1982.0
15078419,"301 Gough St APT 3, San Francisco, CA",12/4/15,0.810,False,1.0,...,626.0,sqft,NaN,NaN,1999.0
15078434,"412-414 Linden St, San Francisco, CA",12/16/15,0.835,False,4.0,...,2200.0,sqft,1297.0,sqft,1909.0
15078866,"753-755 Oak St, San Francisco, CA",11/10/15,0.375,False,NaN,...,2430.0,sqft,3781.0,sqft,1890.0
15081395,"3100 Washington St #6, San Francisco, CA",12/22/15,0.825,False,1.0,...,808.0,sqft,NaN,NaN,1964.0
15082200,"333 Presidio Ave APT 4, San Francisco, CA",12/9/15,0.738,False,1.0,...,770.0,sqft,NaN,NaN,1907.0
15084557,"26 Rossi Ave, San Francisco, CA",12/31/15,0.259,False,7.0,...,4361.0,sqft,3428.0,sqft,1941.0
15085726,"1667C-1667B Fulton St, San Francisco, CA",1/21/16,0.822,False,NaN,...,1750.0,sqft,1437.0,sqft,1908.0
15087483,"721 Frederick St, San Francisco, CA",12/24/15,0.725,False,1.0,...,590.0,sqft,NaN,NaN,1990.0
15088460,"4855-4857 17TH St, San Francisco, CA",12/31/15,0.850,False,NaN,...,2310.0,sqft,3009.0,sqft,1926.0
...,...,...,...,...,...,...,...,...,...,...,...
121337574,"315 Arlington St, San Francisco, CA",12/4/15,1.000,False,2.0,...,1147.0,sqft,NaN,NaN,1910.0
122063856,"1268 Lombard St # 2, San Francisco, CA",12/23/15,3.190,False,3.0,...,1860.0,sqft,NaN,NaN,2013.0
122063937,"724 Masonic Ave, San Francisco, CA",11/13/15,1.280,False,2.0,...,1236.0,sqft,NaN,NaN,1912.0
122245120,"55 Alvarado St, San Francisco, CA",12/11/15,1.220,False,2.0,...,994.0,sqft,NaN,NaN,1906.0
122246414,"1 Hawthorne St UNIT 22E, San Francisco, CA",12/24/15,1.550,False,2.0,...,1241.0,sqft,NaN,NaN,2010.0
123174904,"1080 Sutter St APT 1001, San Francisco, CA",12/18/15,1.450,False,3.0,...,1273.0,sqft,NaN,NaN,2014.0
123597223,"1954 Golden Gate Ave, San Francisco, CA",11/24/15,1.100,False,2.0,...,1275.0,sqft,NaN,NaN,1895.0
124397844,"2200 Market St APT 205, San Francisco, CA",12/14/15,1.320,False,2.0,...,1120.0,sqft,NaN,NaN,2014.0
124857832,"298 Bemis St # V, San Francisco, CA",11/16/15,1.450,NaN,NaN,...,NaN,NaN,2031.0,sqft,1900.0
124865970,"255 Woodside Ave, San Francisco, CA",11/16/15,24.900,NaN,NaN,...,NaN,NaN,1.1,ac,1900.0
125090873,"1379 29TH Ave #V, San Francisco, CA",12/17/15,1.180,NaN,NaN,...,NaN,NaN,188.0,sqft,NaN
125115962,"1027 Clayton St # V, San Francisco, CA",12/22/15,1.210,NaN,NaN,...,NaN,NaN,2247.0,sqft,1900.0
125156575,"1915 Diamond St, San Francisco, CA",12/30/15,1.800,False,NaN,...,2200.0,sqft,4316.0,sqft,1910.0
2099829492,"264 Dore St, San Francisco, CA",1/15/16,2.500,True,NaN,...,4000.0,sqft,NaN,NaN,NaN
2099901370,"1326 Utah St, San Francisco, CA",1/15/16,1.200,False,6.0,...,2861.0,sqft,NaN,NaN,NaN
2099906047,"718 Long Bridge St #901, San Francisco, CA",1/23/16,1.230,False,2.0,...,1200.0,sqft,NaN,NaN,NaN
2099906560,"72 Townsend #502, San Francisco, CA",11/23/15,1.640,False,2.0,...,1000.0,sqft,NaN,NaN,NaN
2099925746,"738 Long Bridge St #912, San Francisco, CA",1/20/16,2.000,False,3.0,...,1961.0,sqft,NaN,NaN,NaN
2099928615,"310 Carolina St UNIT 404, San Francisco, CA",12/7/15,1.750,False,2.0,...,1243.0,sqft,NaN,NaN,2015.0
2099976986,"639 35th Ave, San Francisco, CA",1/21/16,2.190,False,9.0,...,2790.0,sqft,3005.0,sqft,1900.0
2100170419,"3947 17th Street, San Francisco, CA",2/4/16,1.250,False,2.0,...,1250.0,sqft,NaN,NaN,1910.0
2100643449,"2149 Lyon St APT 4, San Francisco, CA",12/27/15,1.100,False,2.0,...,NaN,NaN,NaN,NaN,1907.0
2100646549,"1529 Golden Gate Ave, San Francisco, CA",1/7/16,2.000,False,2.0,...,2120.0,sqft,NaN,NaN,1900.0
2100651320,"3330 Clay St # C, San Francisco, CA",1/5/16,1.210,False,2.0,...,1283.0,sqft,NaN,NaN,1910.0
2100695464,"532 Lyon St, San Francisco, CA",11/24/15,4.500,False,5.0,...,NaN,NaN,3044.0,sqft,1904.0
2100695466,"980 Baker St APT 3, San Francisco, CA",12/22/15,1.750,False,3.0,...,1758.0,sqft,NaN,NaN,1961.0
2100830039,"1731 Larkin St APT 3, San Francisco, CA",2/9/16,1.290,False,2.0,...,NaN,NaN,NaN,NaN,NaN
2100831587,"164 Parker Ave # B, San Francisco, CA",12/3/15,1.210,False,2.0,...,NaN,NaN,NaN,NaN,NaN
2100831588,"164 Parker Ave # A, San Francisco, CA",11/19/15,1.160,False,2.0,...,NaN,NaN,NaN,NaN,NaN
2100831589,"181 Noe St, San Francisco, CA",11/22/15,1.230,False,3.0,...,NaN,NaN,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",12/8/15,1.600,NaN,NaN,...,NaN,NaN,NaN,NaN,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.800,False,4.0,...,2400.0,sqft,4356.0,sqft,1910.0
2100861826,"1606 Jones St, San Francisco, CA",12/11/15,2.800,False,NaN,...,4035.0,sqft,NaN,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",2/4/16,1.070,False,2.0,...,1018.0,sqft,NaN,NaN,1934.0
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.550,False,4.0,...,1632.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.450,False,4.0,...,2301.0,sqft,NaN,NaN,1900.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.300,False,3.0,...,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.700,False,9.0,...,4005.0,sqft,NaN,NaN,1900.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.150,False,3.0,...,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.140,True,NaN,...,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.250,False,2.0,...,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.150,True,NaN,...,3500.0,sqft,2495.0,sqft,1908.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.400,False,1.0,...,950.0,sqft,NaN,NaN,2015.0
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.900,True,NaN,...,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.800,False,3.0,...,NaN,NaN,NaN,NaN,1905.0
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.240,False,3.0,...,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.730,False,2.0,...,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.400,False,2.0,...,NaN,NaN,NaN,NaN,2004.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.430,False,NaN,...,6600.0,sqft,NaN,NaN,1907.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.750,True,NaN,...,3655.0,sqft,NaN,NaN,1883.0

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [68]:
# TODO
df.IsAStudio *= 1.

In [69]:
df.IsAStudio

ID
15063471        0
15064257        0
15064295        0
15064391        0
15065032        0
15065140        0
15065727        0
15066085        0
15066608        0
15066839        0
15066959        1
15067583        0
15067604        0
15067755        0
15068514        0
15068551        0
15068580        1
15068592        0
15068857        1
15068874        0
15069477        1
15071012        0
15071070        0
15072997        0
15073657        0
15074158        0
15075410        0
15076294        0
15076310        0
15076450        0
15076699        0
15076711        0
15076978        0
15077111        1
15077403        0
15077572        0
15077602        0
15077705        0
15077725        0
15077902        0
15077929        0
15078419        0
15078434        0
15078866        0
15081395        0
15082200        0
15084557        0
15085726        0
15087483        0
15088460        0
             ...
121337574       0
122063856       0
122063937       0
122245120       0
122246414       0
123174904       0
123597223       0
124397844       0
124857832     NaN
124865970     NaN
125090873     NaN
125115962     NaN
125156575       0
2099829492      1
2099901370      0
2099906047      0
2099906560      0
2099925746      0
2099928615      0
2099976986      0
2100170419      0
2100643449      0
2100646549      0
2100651320      0
2100695464      0
2100695466      0
2100830039      0
2100831587      0
2100831588      0
2100831589      0
2100835351    NaN
2100850402      0
2100861826      0
2100901630      0
2100992607      0
2101028916      0
2101105851      0
2101116542      0
2101153805      0
2101156735      1
2101167573      0
2101169168      1
2101505254      0
2101807538      1
2102385068      0
2106229715      0
2108411930      0
2108546010      0
2121221385      0
2122992200      1
Name: IsAStudio, dtype: object

> ### `Size`

In [70]:
df.SizeUnit.unique()

array(['sqft', nan], dtype=object)

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [ ]:
df.drop('SizeUnit', axis = 1, inplace = True)

> ### `LotSize`: scale all values to square feet

In [71]:
df.LotSizeUnit.unique()

array([nan, 'sqft', 'ac'], dtype=object)

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [72]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

444

> Group #2: the `sqft` values:

In [74]:
# TODO (use df_sqft)
df_sqft = df[df.LotSizeUnit == 'sqft']
df_sqft = df_sqft.drop('LotSizeUnit', axis = 1)

df_sqft.shape[0]

552

> Group #3: the `ac` values:

In [76]:
# TODO (use df_ac)
df_ac = df[df.LotSizeUnit == 'ac']
df_ac = df_ac.drop('LotSizeUnit', axis = 1)

df_ac.shape[0]

4

> Let's scale these `acre` values into `sqft`:

In [78]:
# (1 acre = 43,560 sqft)

# TODO
df_ac.LotSize /= 43560.

Let's now put everything back together...

In [79]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [80]:
df

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,BuiltInYear
ID,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,0.7100,0,1.0,NaN,550.0,sqft,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.1500,0,NaN,2.0,1430.0,sqft,2435.0,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.6000,0,2.0,3.5,2040.0,sqft,3920.0,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.5000,0,1.0,1.0,1060.0,sqft,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,0.9700,0,2.0,2.0,1299.0,sqft,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,0.9400,0,2.0,2.0,1033.0,sqft,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,0.8350,0,1.0,1.0,1048.0,sqft,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.8300,0,3.0,2.0,2115.0,sqft,1271.0,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.0500,1,NaN,NaN,4102.0,sqft,3049.0,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.1900,0,2.0,3.0,1182.0,sqft,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,0.8000,0,1.0,1.0,1000.0,sqft,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,0.9760,0,1.0,1.0,1000.0,sqft,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,0.7200,0,1.0,1.0,552.0,sqft,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.2500,0,NaN,4.0,2658.0,sqft,1600.0,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.2900,0,2.0,2.0,1165.0,sqft,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.9000,0,2.0,2.0,1465.0,sqft,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.6000,0,3.0,2.5,2017.0,sqft,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,0.9080,0,2.0,1.0,956.0,sqft,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.2100,0,2.0,1.0,1003.0,sqft,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.7000,0,2.0,2.0,1467.0,sqft,3023.0,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.2800,0,1.0,1.0,986.0,sqft,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,0.8750,0,1.0,1.0,825.0,sqft,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,0.3000,0,NaN,2.0,2344.0,sqft,1376.0,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,0.4250,1,NaN,2.0,989.0,sqft,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.9500,0,NaN,4.0,4362.0,sqft,1459.0,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,0.7750,0,NaN,2.0,710.0,sqft,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,0.7050,0,2.0,2.0,744.0,sqft,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,0.6950,0,1.0,1.0,541.0,sqft,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.4100,0,1.0,1.0,1250.0,sqft,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.6800,0,1.0,1.0,1115.0,sqft,NaN,1929.0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",12/3/15,3.8000,0,2.0,2.0,1961.0,sqft,NaN,1963.0
15068514,"1177 California St APT 702, San Francisco, CA",12/18/15,0.6650,0,1.0,1.0,511.0,sqft,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",12/15/15,0.9000,0,1.0,1.0,884.0,sqft,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",12/29/15,0.7380,1,NaN,1.0,706.0,sqft,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",12/1/15,0.7900,0,1.0,1.0,645.0,sqft,NaN,1977.0
15068767,"767-771 Pine St, San Francisco, CA",12/31/15,2.4900,0,NaN,4.0,4605.0,sqft,1376.0,1909.0
15068857,"1001 Pine St APT 608, San Francisco, CA",12/7/15,0.5350,1,NaN,1.0,450.0,sqft,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",12/24/15,0.6500,0,NaN,1.0,650.0,sqft,NaN,1963.0
15069276,"795 Sutter St # 303, San Francisco, CA",11/15/15,1.2000,0,3.0,2.0,1753.0,sqft,NaN,1913.0
15069477,"631 Ofarrell St APT 816, San Francisco, CA",12/18/15,0.4850,1,NaN,1.0,480.0,sqft,NaN,1930.0
15069628,"47-49 Casa Way, San Francisco, CA",11/25/15,3.8000,0,3.0,NaN,3905.0,sqft,2748.0,1939.0
15069883,"59 Rico Way, San Francisco, CA",12/21/15,2.5500,0,3.0,1.5,1675.0,sqft,2613.0,1925.0
15070227,"134 Alhambra St, San Francisco, CA",1/18/16,3.0800,0,3.0,3.0,2599.0,sqft,3005.0,1925.0
15070235,"180 Alhambra St, San Francisco, CA",12/7/15,3.3300,0,NaN,2.0,2864.0,sqft,2286.0,1925.0
15070255,"146 Avila St, San Francisco, CA",12/23/15,3.0200,0,3.0,3.0,2100.0,sqft,2495.0,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",12/1/15,9.7100,0,5.0,6.0,4650.0,sqft,4726.0,1953.0
15070728,"3315 Pierce St, San Francisco, CA",1/6/16,2.5000,0,3.0,3.5,2255.0,sqft,2500.0,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",12/1/15,1.3800,0,NaN,3.0,3260.0,sqft,3000.0,1920.0
15071012,"2701 Van Ness Ave APT 207, San Francisco, CA",11/30/15,0.8850,0,NaN,1.0,885.0,sqft,NaN,1929.0
15071070,"2701 Van Ness Ave APT 702, San Francisco, CA",12/2/15,0.7180,0,NaN,1.0,793.0,sqft,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...
2100170419,"3947 17th Street, San Francisco, CA",2/4/16,1.2500,0,2.0,3.0,1250.0,sqft,NaN,1910.0
2100628935,"2261-65 Fulton #2263, San Francisco, CA",1/12/16,0.9950,0,2.0,1.0,1420.0,sqft,NaN,1911.0
2100643449,"2149 Lyon St APT 4, San Francisco, CA",12/27/15,1.1000,0,2.0,1.5,NaN,NaN,NaN,1907.0
2100646549,"1529 Golden Gate Ave, San Francisco, CA",1/7/16,2.0000,0,2.0,2.0,2120.0,sqft,NaN,1900.0
2100651320,"3330 Clay St # C, San Francisco, CA",1/5/16,1.2100,0,2.0,2.0,1283.0,sqft,NaN,1910.0
2100682649,"520 Natoma St APT 9, San Francisco, CA",12/1/15,0.4500,0,1.0,1.0,NaN,NaN,NaN,1911.0
2100695464,"532 Lyon St, San Francisco, CA",11/24/15,4.5000,0,5.0,5.0,NaN,NaN,3044.0,1904.0
2100695466,"980 Baker St APT 3, San Francisco, CA",12/22/15,1.7500,0,3.0,2.0,1758.0,sqft,NaN,1961.0
2100784055,"55 1/2 Lucy St, San Francisco, CA",12/31/15,0.0025,0,2.0,1.0,1000.0,sqft,NaN,NaN
2100786271,"2149 Lyon St APT 1, San Francisco, CA",12/1/15,0.6800,0,2.0,1.0,NaN,NaN,NaN,1907.0
2100791455,"130A Langton Street, San Francisco, CA",12/13/15,0.7500,0,2.0,1.5,1000.0,sqft,NaN,1906.0
2100830039,"1731 Larkin St APT 3, San Francisco, CA",2/9/16,1.2900,0,2.0,2.0,NaN,NaN,NaN,NaN
2100831587,"164 Parker Ave # B, San Francisco, CA",12/3/15,1.2100,0,2.0,1.0,NaN,NaN,NaN,NaN
2100831588,"164 Parker Ave # A, San Francisco, CA",11/19/15,1.1600,0,2.0,1.0,NaN,NaN,NaN,NaN
2100831589,"181 Noe St, San Francisco, CA",11/22/15,1.2300,0,3.0,1.0,NaN,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",12/8/15,1.6000,NaN,NaN,NaN,NaN,NaN,NaN,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.8000,0,4.0,3.0,2400.0,sqft,4356.0,1910.0
2100861826,"1606 Jones St, San Francisco, CA",12/11/15,2.8000,0,NaN,NaN,4035.0,sqft,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",2/4/16,1.0700,0,2.0,1.0,1018.0,sqft,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",12/3/15,0.9150,0,1.0,1.0,700.0,sqft,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.5500,0,4.0,2.5,1632.0,sqft,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,0.5100,0,1.0,1.0,400.0,sqft,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.4500,0,4.0,3.0,2301.0,sqft,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,0.9700,0,3.0,1.0,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.3000,0,3.0,1.0,1496.0,sqft,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.7000,0,9.0,3.0,4005.0,sqft,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,0.7850,0,1.0,1.0,625.0,sqft,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.1500,0,3.0,1.0,1912.0,sqft,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.1400,1,NaN,NaN,1776.0,sqft,3746.0,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.2500,0,2.0,2.0,1108.0,sqft,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.1500,1,NaN,NaN,3500.0,sqft,2495.0,1908.0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,0.8350,0,1.0,1.0,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,0.8900,0,2.0,2.0,1424.0,sqft,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.4000,0,1.0,1.0,950.0,sqft,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,0.7500,0,2.0,1.0,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.9000,1,NaN,NaN,NaN,NaN,2038.0,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.8000,0,3.0,2.0,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,0.0058,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.2400,0,3.0,3.0,2414.0,sqft,1306.0,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.7300,0,2.0,2.5,1500.0,sqft,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.4000,0,2.0,2.0,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,0.7575,0,1.0,1.0,658.0,sqft,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.4300,0,NaN,NaN,6600.0,sqft,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,0.6750,0,1.0,1.0,557.0,sqft,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.7500,1,NaN,NaN,3655.0,sqft,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,0.3900,1,NaN,1.0,264.0,sqft,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,0.8600,0,1.0,1.0,691.0,sqft,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,0.8300,0,3.0,3.0,1738.0,sqft,2299.0,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,0.8350,0,2.0,2.0,1048.0,sqft,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,0.8250,0,1.0,1.0,900.0,sqft,NaN,1966.0

> ## `.to_csv`: save the `DataFrame` into a `.csv` file

At the end of each phase (i.e., wrangling) of your data science project, it is a good idea to save your dataset into disk.  Then for the next step, create a new Jupyther notebook and load your updated dataset

In [ ]:
df.to_csv(os.path.join('..', 'datasets', 'dataset-02-zillow.csv'), index_label = 'ID')

## Part C - More advanced topics

### `.groupby()`

(http://pandas.pydata.org/pandas-docs/stable/groupby.html)

> What is the mean price of houses by number of bedrooms?

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow.csv'))

In [84]:
df[ ['Beds', 'SalePrice'] ] .groupby('Beds').mean()

      SalePrice
Beds
1.0    0.820425
2.0    1.192398
3.0    1.404323
4.0    1.879330
5.0    2.867720
6.0    2.587222
7.0    5.543167
8.0    1.960000
9.0    1.766667

### `.map()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html)

When converting `SalePrice`, `Size`, and `LotSize` into `$M` and sqft, we could also have done the following:

In [91]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow-starter.csv'))

In [92]:
df.Beds.unique()

array([  1.,  nan,   2.,   3.,   5.,   4.,   7.,   6.,   8.,   9.])

In [93]:
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [94]:
df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

0      0.000001
1      1.000000
2      1.000000
3      1.000000
4      0.000001
5      0.000001
6      0.000001
7      1.000000
8      1.000000
9      1.000000
10     0.000001
11     0.000001
12     0.000001
13     1.000000
14     1.000000
15     1.000000
16     1.000000
17     0.000001
18     1.000000
19     1.000000
20     1.000000
21     0.000001
22     0.000001
23     0.000001
24     1.000000
25     0.000001
26     0.000001
27     0.000001
28     1.000000
29     1.000000
30     1.000000
31     0.000001
32     0.000001
33     0.000001
34     0.000001
35     1.000000
36     0.000001
37     0.000001
38     1.000000
39     0.000001
40     1.000000
41     1.000000
42     1.000000
43     1.000000
44     1.000000
45     1.000000
46     1.000000
47     1.000000
48     0.000001
49     0.000001
         ...
950    1.000000
951    0.000001
952    1.000000
953    1.000000
954    1.000000
955    0.000001
956    1.000000
957    1.000000
958    0.000001
959    0.000001
960    0.000001
961    1.000000
962    1.000000
963    1.000000
964    1.000000
965    1.000000
966    1.000000
967    1.000000
968    1.000000
969    0.000001
970    1.000000
971    0.000001
972    1.000000
973    0.000001
974    1.000000
975    1.000000
976    0.000001
977    1.000000
978    1.000000
979    1.000000
980    1.000000
981    0.000001
982    0.000001
983    1.000000
984    0.000001
985    1.000000
986    1.000000
987    0.000001
988    1.000000
989    1.000000
990    1.000000
991    0.000001
992    1.000000
993    0.000001
994    1.000000
995    0.000001
996    0.000001
997    0.000001
998    0.000001
999    0.000001
Name: SalePriceUnit, dtype: float64

In [98]:
df.SalePrice *= df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [97]:
df.SalePrice

0      7.100000e-07
1      2.150000e+00
2      5.600000e+00
3      1.500000e+00
4      9.700000e-07
5      9.400000e-07
6      8.350000e-07
7      2.830000e+00
8      4.050000e+00
9      2.190000e+00
10     8.000000e-07
11     9.760000e-07
12     7.200000e-07
13     2.250000e+00
14     1.290000e+00
15     2.900000e+00
16     2.600000e+00
17     9.080000e-07
18     1.210000e+00
19     1.700000e+00
20     1.280000e+00
21     8.750000e-07
22     3.000000e-07
23     4.250000e-07
24     1.950000e+00
25     7.750000e-07
26     7.050000e-07
27     6.950000e-07
28     1.410000e+00
29     1.680000e+00
30     3.800000e+00
31     6.650000e-07
32     9.000000e-07
33     7.380000e-07
34     7.900000e-07
35     2.490000e+00
36     5.350000e-07
37     6.500000e-07
38     1.200000e+00
39     4.850000e-07
40     3.800000e+00
41     2.550000e+00
42     3.080000e+00
43     3.330000e+00
44     3.020000e+00
45     9.710000e+00
46     2.500000e+00
47     1.380000e+00
48     8.850000e-07
49     7.180000e-07
           ...
950    1.250000e+00
951    9.950000e-07
952    1.100000e+00
953    2.000000e+00
954    1.210000e+00
955    4.500000e-07
956    4.500000e+00
957    1.750000e+00
958    2.500000e-09
959    6.800000e-07
960    7.500000e-07
961    1.290000e+00
962    1.210000e+00
963    1.160000e+00
964    1.230000e+00
965    1.600000e+00
966    1.800000e+00
967    2.800000e+00
968    1.070000e+00
969    9.150000e-07
970    1.550000e+00
971    5.100000e-07
972    2.450000e+00
973    9.700000e-07
974    1.300000e+00
975    1.700000e+00
976    7.850000e-07
977    1.150000e+00
978    1.140000e+00
979    1.250000e+00
980    3.150000e+00
981    8.350000e-07
982    8.900000e-07
983    1.400000e+00
984    7.500000e-07
985    2.900000e+00
986    1.800000e+00
987    5.800000e-09
988    1.240000e+00
989    1.730000e+00
990    1.400000e+00
991    7.575000e-07
992    1.430000e+00
993    6.750000e-07
994    2.750000e+00
995    3.900000e-07
996    8.600000e-07
997    8.300000e-07
998    8.350000e-07
999    8.250000e-07
Name: SalePrice, dtype: float64

In [ ]:
df.drop('SalePriceUnit', axis = 1, inplace = True)

> ### Activity:  Using `.map()`, convert `Size` and `LotSize` to sqft.

In [ ]:
# TODO

### `.to_datetime()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

In [100]:
df.DateOfSale[0]

'12/4/15'

So far, the dates stored in the `DataFrame` are just strings.  We cannot easily extract the day, month, year.  Thanksfully, `pandas` provides some facilities to do so.

In [101]:
pd.to_datetime(df.DateOfSale)

0     2015-12-04
1     2015-11-30
2     2015-11-12
3     2015-12-11
4     2016-01-15
5     2015-12-17
6     2015-12-15
7     2015-12-04
8     2016-01-14
9     2015-12-31
10    2015-12-07
11    2016-01-28
12    2015-11-16
13    2015-11-25
14    2015-11-30
15    2015-11-18
16    2015-12-31
17    2015-11-12
18    2015-11-16
19    2015-12-15
20    2015-12-10
21    2015-12-16
22    2015-12-01
23    2016-01-14
24    2015-11-13
25    2015-12-18
26    2015-12-02
27    2016-01-10
28    2015-12-04
29    2015-12-15
30    2015-12-03
31    2015-12-18
32    2015-12-15
33    2015-12-29
34    2015-12-01
35    2015-12-31
36    2015-12-07
37    2015-12-24
38    2015-11-15
39    2015-12-18
40    2015-11-25
41    2015-12-21
42    2016-01-18
43    2015-12-07
44    2015-12-23
45    2015-12-01
46    2016-01-06
47    2015-12-01
48    2015-11-30
49    2015-12-02
         ...
950   2016-02-04
951   2016-01-12
952   2015-12-27
953   2016-01-07
954   2016-01-05
955   2015-12-01
956   2015-11-24
957   2015-12-22
958   2015-12-31
959   2015-12-01
960   2015-12-13
961   2016-02-09
962   2015-12-03
963   2015-11-19
964   2015-11-22
965   2015-12-08
966   2015-12-29
967   2015-12-11
968   2016-02-04
969   2015-12-03
970   2016-01-15
971   2015-12-09
972   2015-12-17
973   2015-11-29
974   2015-12-10
975   2016-01-14
976   2015-11-26
977   2015-12-02
978   2016-01-05
979   2016-01-25
980   2015-11-10
981   2015-12-13
982   2015-12-28
983   2015-12-03
984   2015-11-19
985   2015-12-02
986   2015-12-01
987   2015-12-14
988   2016-01-19
989   2015-12-29
990   2016-01-14
991   2016-01-26
992   2015-11-30
993   2015-12-06
994   2015-11-20
995   2016-01-15
996   2015-11-20
997   2015-12-10
998   2015-12-15
999   2016-01-10
Name: DateOfSale, dtype: datetime64[ns]

In [102]:
df.DateOfSale = pd.to_datetime(df.DateOfSale)

In [108]:
df.DateOfSale[0].year

2015

### `.apply()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html)

In [105]:
df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)

0      2015
1      2015
2      2015
3      2015
4      2016
5      2015
6      2015
7      2015
8      2016
9      2015
10     2015
11     2016
12     2015
13     2015
14     2015
15     2015
16     2015
17     2015
18     2015
19     2015
20     2015
21     2015
22     2015
23     2016
24     2015
25     2015
26     2015
27     2016
28     2015
29     2015
30     2015
31     2015
32     2015
33     2015
34     2015
35     2015
36     2015
37     2015
38     2015
39     2015
40     2015
41     2015
42     2016
43     2015
44     2015
45     2015
46     2016
47     2015
48     2015
49     2015
       ...
950    2016
951    2016
952    2015
953    2016
954    2016
955    2015
956    2015
957    2015
958    2015
959    2015
960    2015
961    2016
962    2015
963    2015
964    2015
965    2015
966    2015
967    2015
968    2016
969    2015
970    2016
971    2015
972    2015
973    2015
974    2015
975    2016
976    2015
977    2015
978    2016
979    2016
980    2015
981    2015
982    2015
983    2015
984    2015
985    2015
986    2015
987    2015
988    2016
989    2015
990    2016
991    2016
992    2015
993    2015
994    2015
995    2016
996    2015
997    2015
998    2015
999    2016
Name: DateOfSale, dtype: int64

In [ ]:
df['YearOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)
df['MonthOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.month)
df['DayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.day)
df['WeekDayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.weekday_name)

df.drop('DateOfSale', axis = 1, inplace = True)

Now, we have the day, day of the week, month, and year of the sale as features in our dataset.

In [ ]:
df