## Python Fundamentals
&copy; QuantSprout

# iPython Notebook Magic

###### Short cut keys:

-  comment out a line of code = command + /
-  run block of code = shift + enter
-  autocomplete text = tab
-  help for function = shift + tab
-  view shortcut menu - esc then h

#### Web based viewer for ipython notebooks
http://nbviewer.ipython.org/

### Write your first python program

In [1]:
print "Hello 'Data' Science this is really fun!"

Hello 'Data' Science this is really fun!

### Numbers in python:

Numeric types: ***int, float,*** and ***bool***.

In [2]:
type(1)

int

In [3]:
type(2.5)

float

In [4]:
type(True)

bool

In [5]:
type('true')
# str bool float int

str

### String Insertion
Basic string insertions

In [7]:
print "My name is {}".format("Otto")

My name is Otto

You can insert multiple values into strings but helps to use labels

In [14]:
place = 'NY'
print "{0} is in {1} and the address is: {2}".format(name, place, '5th ave')

Waldo is in NY and the address is: 5th ave

In [15]:
place = 'NY'
print "{n} is in {p} and the address is: {ave}".format(n=name, p=place, ave='5th ave')

Waldo is in NY and the address is: 5th ave

In [16]:
print "{} is in {} and the address is: {}".format(name, name, name)

Waldo is in Waldo and the address is: Waldo

Try reversing order of the variables name and place.|

In [ ]:
print "{1} is in {0}".format(name, place)

### Basic math in python
Some operators are pretty obvious

In [23]:
5 + 5

10

In [24]:
3 * 7

21

But some operators are less intuitive

In [28]:
print "Hello " + 'World'

Hello World

In [30]:
10 % 3  # modulo  operator(i.e. remainder)

1

In [32]:
3 ** 3  # exponent

27

In [33]:
1E3 + 1E-3 # exponent base 10

1000.001

In [34]:
(10**3) + (10**-3)

1000.001

Assign values to variables

In [35]:
x = 10
y = 5
z = 4

Use math with variables

In [36]:
x - y

5

Try dividing x by z

In [37]:
x/z

2

In [38]:
10 / 4.0

2.5

In [39]:
z = 4.0
z = float(z)
z = 1.0 * z
1.0* x/z

print "The result is: {}".format(x/z)

The result is: 2.5

In [40]:
float(8)/3

2.6666666666666665

Try dividing x by 4.0

In [41]:
print str(4)
print int(4.0)
print float(4)

4
4
4.0

### Functions

#### Syntax requires 4 things:
-  prefix of 'def'
-  name for function
-  parentheses followed by a colon
-  indented code on the next line

Create a simple function

In [49]:
def simplest_function():
    print "I made a function"

In [50]:
output = simplest_function()
print output

I made a function
None

In [51]:
def less_simple_function():
    return "I made a function"

In [53]:
output = less_simple_function()
# print output

You can create a function that requires an input

In [54]:
def square(x):
    x = x ** 2
    print "X in my function is {}".format(x)
    return x

In [55]:
square(5)

X in my function is 25

25

In [ ]:
result

In [56]:
def square(x):
    # Thsi function retunrs the squar
    print "X was {}".format(x)
    x = x ** 2
    print "Now X is: {}".format(x)
    return x

In [57]:
x = 4
square(x)

X was 4
Now X is: 16

16

### Line Continuation

Python recognizes that code lines that end with a comma are incomplete

In [58]:
numbers = [1, 2, 3, 4, 
           5, 6, 7, 
           8, 9]

print numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

You can also use the backslash

In [60]:
long_string = 'This is a really, really, really'  \
                + ' long sentence'
print long_string

This is a really, really, really long sentence

In [59]:
long_string = 'This is a really, really, really  \
                 long sentence'
print long_string

This is a really, really, really                   long sentence

In [ ]:
long_string = 'This is a really, really, really '
long_string = long_string + 'long sentence'
print long_string

### Exercise: Build a Function
#### 1. Create a function that converts Celsius to Fahrenheit.  Results should be accurate to at least one decimal point.

In [61]:
def convert_temp(degrees_c):
    degrees_f = (degrees_c * 9.0 / 5 + 32) 
    return degrees_f

In [62]:
print convert_temp(101)
print convert_temp(30)

213.8
86.0

#### 2. Update your function to return a sentence (string type) with the Celsius and Fahrenheit values inserted into the string.

In [63]:
# print "{0:0.3f} degrees Celsius = {1} degrees Fahrenheit".format(10.2222222, 30.3333333)

In [66]:
def convert_temp_message(degrees_c):
    degrees_f = degrees_c * 9.0 / 5.0 + 32.0
    message = "{0:0.1f} degrees Celsius = ".format(degrees_c) \
        + "{0:0.3f} degrees Fahrenheit".format(degrees_f)
    return message

In [67]:
print convert_temp_message(3.9595959595)
print convert_temp_message(100)
print convert_temp_message(30)

4.0 degrees Celsius = 39.127 degrees Fahrenheit
100.0 degrees Celsius = 212.000 degrees Fahrenheit
30.0 degrees Celsius = 86.000 degrees Fahrenheit

In [2]:
def convert_temp(degrees_c):
    degrees_f = (degrees_c * 9.0 / 5 + 32) 
    return degrees_f


def convert_temp_message2(degrees_c):
    degrees_f = convert_temp(degrees_c) #referencing the previous function inside this one!
    message = "{0:0.00f} degrees Celsius = {1} \n degrees Fahrenheit".format(degrees_c, degrees_f)
    return message

In [3]:
print convert_temp_message2(0)
print convert_temp_message2(2)
print convert_temp_message2(30)

0 degrees Celsius = 32.0
 degrees Fahrenheit
2 degrees Celsius = 35.6
 degrees Fahrenheit
30 degrees Celsius = 86.0
 degrees Fahrenheit